/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  
    Animations
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/

@keyframes fade {
    from {opacity: 0;}
    to {opacity: 1;}
    
}

@keyframes close {
    from {grid-template-rows: 10% 80% 10%;}
    to {grid-template-rows: 10% 0% 10%;}
}

@keyframes scroll {
    from {top: 0dvh;}
    to {top: -100dvh;}
}
